html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; 
  }
  
  .navbar-layout .content {
    padding:0 ;
  }
  
  .loading {
    position: absolute;
    width: 100%;
    top: 0;
  }
  