/* Mobile (dưới 600px) */
@media (max-width: 600px) {
  .team-slider .slick-slide {
    width: 100%;
  }

  .team-slider .slick-slide > div {
    margin: 0 5px;
  }
}

/* Tablet (từ 600px đến 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
  .team-slider .slick-slide {
    width: 50%;
  }

  .team-slider .slick-slide > div {
    margin: 0 10px;
  }
}

/* Laptop (trên 1024px) */
@media (min-width: 1024px) {
  .team-slider .slick-slide {
    width: 33.33%;
  }

  .team-slider .slick-slide > div {
    margin: 0 10px;
  }
}
