.about-us {
    padding: 50px 0;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

/*START TEAM-SWIPER */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .card {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-description {
    font-size: 14px;
  }
  
  .phone-info {
    display: flex;
    align-items: center;
  }
  
  .phone-info .info {
    margin-left: 8px;
  }
  /*END TEAM-SWIPER */