:root {
  --btn-create-color: transparent; 
  --btn-create-text-color: white;
  --text-color: white; 
  --hover-button-color: gray; 
}

.scroll-button-create{
  background-color: var(--btn-create-color) !important;
  color: var(--btn-create-text-color) !important;
  transition: background-color 0.3s;
  
}

.scroll-button-create:hover{
  background-color: var(--hover-button-color) !important;
  
}

.scroll-button{
  color: var(--text-color) !important;
}

.scroll-button:hover {
  background-color: var(--hover-button-color) !important;
}

/* Mobile (dưới 600px) */
@media (max-width: 600px) {
  .team-slider .slick-slide {
    width: 100%;
  }

  .team-slider .slick-slide > div {
    margin: 0 5px;
  }
}

/* Tablet (từ 600px đến 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
  .team-slider .slick-slide {
    width: 50%;
  }

  .team-slider .slick-slide > div {
    margin: 0 10px;
  }
}

/* Laptop (trên 1024px) */
@media (min-width: 1024px) {
  .team-slider .slick-slide {
    width: 33.33%;
  }

  .team-slider .slick-slide > div {
    margin: 0 10px;
  }
}

.feature-box {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.team-slider .slick-slide {
  padding: 10px;
}

@media (max-width: 600px) {
  .team-slider .slick-slide {
    padding: 5px;
  }
}